@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom Scrollbar for a cleaner look on Webkit browsers */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(107, 114, 128, 0.4); /* gray-500 with 40% opacity */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.5); /* gray-400 with 50% opacity */
  }
}
